<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
	<ul class="posts">
	  {% for post in page.posts %}
	    <li>
	      <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
	      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>



